<a href="https://colab.research.google.com/github/apichardo1997/hello-world/blob/main/W2_Data_Structures_Functions_and_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable type
1. In Python, variable is a tag, it doesn't have type by itself. However the object in the memory that the variable refers has type.
2. Assignment operator is =, which is not really assignment but put a tag on this object.

In [1]:
counter = 100 #int
weight = 76.5 #the tag "weight" now is on a float object whose type is float
name = 'David' #string
print(counter, weight, name)
age = 100
print(age)

weight="100 lbs" #move the tag "weight" to a different object whose type is string
print(weight)

100 76.5 David
100
100 lbs

In [2]:
a = 10
print(a)
a = 'String'
print(a)

10
String

# Assign value to multiple variables
less typing

In [5]:
a = b = c = 100
print(a, b, c)
# a = 100
# b = 100
# c = 100

100 100 100

The three variables here are <b>independent</b>, so you can modify one of them without changing others

In [6]:
b = 200
print(a, b, c)

100 200 100

# unpacking tuple to individual variables
Assign different values to multiple variables

In [7]:
a, b, c = 1, 2.0, 'Hello'
print(a, b, c)

1 2.0 Hello

In [8]:
def my_divide(x, y):
    times=x//y
    remain=x-y*(x//y)
    return times, remain

mytimes, myremain=my_divide(17, 4)

In [9]:
mytimes, myremain

(4, 1)

# Built-in data types

* Number
* String
* List
* Tuple
* Set
* Dictionary

<b>* Number, String, Tuple are immutable types. You can't change the value in place. New value will have new id in new address.</b>

In [10]:
a, b, c = 1.536, 'Hello', ('abcd', 883, 2.54)
print('a: {0}, id of a: {1}, so a: {0} is good'.format(a, b))
print('a: {0:.2f}, id of a: {1}'.format(a, id(a)))
print('b: {0}, id of b: {1}'.format(b, id(b)))
print('c: {0}, id of c: {1}'.format(c, id(c)))

a: 1.536, id of a: Hello, so a: 1.536 is good
a: 1.54, id of a: 135325913043920
b: Hello, id of b: 135325903135280
c: ('abcd', 883, 2.54), id of c: 135325903137152

In [11]:
a, b, c = 3, 'World',  ('efgh', 111, 20.54)
print('a: {0}, id of a: {1}'.format(a, id(a)))
print('b: {0}, id of b: {1}'.format(b, id(b)))
print('c: {0}, id of c: {1}'.format(c, id(c)))

a: 3, id of a: 10757800
b: World, id of b: 135325903129008
c: ('efgh', 111, 20.54), id of c: 135325903142656

<b>Keep in mind, a, b, c are tags and they can be put on anything, while 'hello', 'world', 1.536 are immutable</b>

<b>* List, Dictionary, Set are mutable types. You can change the value in place and the new value will stay in the same address so they will retain the id.</b>

In [12]:
mylist = [1, 2, 3, 4]
mydict = {'one': 1, 'two': 2}
myset = {'Tom', 'Jack', 'Hebe'}
mysome = {}
print(type(mysome))
print('mylist: {0}, id of mylist: {1}'.format(mylist, id(mylist)))
print('mydict: {0}, id of mydict: {1}'.format(mydict, id(mydict)))
print('myset: {0}, id of myset: {1}'.format(myset, id(myset)))

<class 'dict'>
mylist: [1, 2, 3, 4], id of mylist: 135325903223296
mydict: {'one': 1, 'two': 2}, id of mydict: 135325915134528
myset: {'Hebe', 'Tom', 'Jack'}, id of myset: 135325902795520

In [13]:
mylist.append(5)
mydate = '{0}-{1}-{2}'.format('1999', '12', '05')
print(mydate)
print('mylist: {0}, id of mylist: {1}'.format(mylist, id(mylist))) #parameter list
mydict['three'] =3
print('mydict: {0}, id of mydict: {1}'.format(mydict, id(mydict)))
myset.add('Lamda')
print('myset: {0}, id of myset: {1}'.format(myset, id(myset)))

1999-12-05
mylist: [1, 2, 3, 4, 5], id of mylist: 135325903223296
mydict: {'one': 1, 'two': 2, 'three': 3}, id of mydict: 135325915134528
myset: {'Hebe', 'Lamda', 'Tom', 'Jack'}, id of myset: 135325902795520

* return unique list from list

In [14]:
mylist = [1,2,3,2,3,4,5,7]
norepeat = list(set(mylist))
print(norepeat)

[1, 2, 3, 4, 5, 7]

In [15]:
print(mydict)
print(mydict['one'])

{'one': 1, 'two': 2, 'three': 3}
1

In [16]:
# any immutable value can be used as key
mydict['I want a very long key'] = 'crazy'
mydict[1] = 'aw'
mydict['data'] = {'dataa':['a', 'b', 'c'], 'meta': 'England'}
mydict

{'one': 1,
 'two': 2,
 'three': 3,
 'I want a very long key': 'crazy',
 1: 'aw',
 'data': {'dataa': ['a', 'b', 'c'], 'meta': 'England'}}

In [17]:
mydict[(1,2,"hello", True)] = 'odd key'

In [18]:
mydict

{'one': 1,
 'two': 2,
 'three': 3,
 'I want a very long key': 'crazy',
 1: 'aw',
 'data': {'dataa': ['a', 'b', 'c'], 'meta': 'England'},
 (1, 2, 'hello', True): 'odd key'}

In [19]:
mydict[(1,2,"hello", True)]

'odd key'

In [20]:
mydict[[1,2,3]] = 'odd key'

TypeError: unhashable type: 'list'

In [21]:
mydict.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('I want a very long key', 'crazy'), (1, 'aw'), ('data', {'dataa': ['a', 'b', 'c'], 'meta': 'England'}), ((1, 2, 'hello', True), 'odd key')])

In [22]:
for key, _ in mydict.items():
    print(key)

one
two
three
I want a very long key
1
data
(1, 2, 'hello', True)

In [23]:
d={"a":1, "b":2, "c":3}
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [24]:
for k, _ in d.items():
    print(k)

a
b
c

In [25]:
for k, v in d.items():
    print(v)

1
2
3

# Number
* int、float、bool、complex
* Python 3 has int，Python 3 doesn't have Long type of Python2.
* type() to return the type
* True and False are keywords in Python3. Their values are 1 and 0.

In [26]:
a, b, c, d = 20, 5.5, True, 4+3j
print(type(a), type(b), type(c), type(d))
e = b + c
print('e is {0}'.format(e))

<class 'int'> <class 'float'> <class 'bool'> <class 'complex'>
e is 6.5

In [27]:
int(True)

1

In [28]:
float(True)

1.0

In [29]:
bool(-3.9999)

True

In [30]:
bool(0.0)

False

In [31]:
if 4:
    print("true")

true

<b>isinstance is also used to check types</b>

In [32]:
a = 111
print(isinstance(a, int))
print(isinstance(True, float))

True
False

Difference between isinstance and type:
* type() doesn't check inherited type
* isinstance() checkes inherited type

In [33]:
class A:
    pass

class B(A):
    pass

print(isinstance(A(), A))  # returns True
print(type(A()) == A)      # returns True
print(isinstance(B(), A))    # returns True
print(type(B()) == A)        # returns False

True
True
True
False

Manually delete a variable from memory:

In [39]:
a = 100
print('a is {0}'.format(a))
del a
print('a is {0}'.format(a))

a is 100

NameError: name 'a' is not defined

In [40]:
str='hello'

In [41]:
str

'hello'

In [42]:
del str

In [43]:
str(3434.3)

'3434.3'

## Math operations are straightforward

In [44]:
print({'5+4':5+4}, 4.3 - 2, 3 * 7, 5/4, 3 //4, 17 % 3, 2** 10, round(3/4, 0))

{'5+4': 9} 2.3 21 1.25 0 2 1024 1.0

In [45]:
5^5

0

# String
* ' or "，use \\ to escape special characters

Slicing syntax：
* Index starts with 0
* -1 is the end
* \+ to concatenate strings, * to repeat

Slicing rule:

* [2:5], where 2：Close, 5:open, i.e., including 2 but excluding 5

In [46]:
x="-"
x*20

'--------------------'

In [47]:
s = 'abcdefg'
print(len(s))
print(s)
print(s[-1])
# -1 is equivalent to len(s) - 1
print(s[0:-1])
print(s[0])
print(s[2:5])
print(s[2:])
print((s+s[-1])*10)
print(s + 'TEST')
print('g' + 'o'*100 + 'al')
print("++++", s[6:-1])
print(s[2:])
mystr = 'aa  b  c  d'
print(mystr.split('  '))

7
abcdefg
g
abcdef
a
cde
cdefg
abcdefggabcdefggabcdefggabcdefggabcdefggabcdefggabcdefggabcdefggabcdefggabcdefgg
abcdefgTEST
gooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooal
++++
cdefg
['aa', 'b', 'c', 'd']

### \n, \t, r

In [48]:
print('I\nam\there\d\o')
print(r'I\nam\there\d\o')

I
am	here\d\o
I\nam\there\d\o

### """...""" or '''...''' for multiple lines

In [49]:
notes = """
This is sample,
lsajfljga
dsf
affjsalg
it's very easy.
"""
print(notes)

This is sample,
lsajfljga
dsf
affjsalg
it's very easy.

<b>Python doesn't have char type，a char is a string with size 1.

vs

C doesn't have string type but only char type. A string is an array of char.</b>

In [50]:
word = 'abcdefg'
print(word[0], word[5])
print(word[-1], word[-6])
print(word[0:3])

a f
g b
abc

Unlike C，Python string is immutable. Assigning new value to an indexed reference，such as word[3] = 'c' will have TypeError

TypeError: 'str' object does not support item assignment

In [51]:
word[3]

'd'

In [52]:
word[3]='c'

TypeError: 'str' object does not support item assignment

In [53]:
a='abc'
print(id(a))

9843040

In [54]:
b='def'
print(id(b))

135326207752112

In [55]:
a=a+b
a

'abcdef'

In [56]:
id(a)

135325914965808

# Tuple
* A tuple is a fixed-length, immutable sequence of Python objects.
* Tuple is immutable
* (), where elements are seperated by comma.
* The elements don't have to be the same type.
* String is a special type of tuple.

In [57]:
my_tuple = ('abc', 1234, 2.355, 'Cup')
tinytuple = ('good', 888)
print (my_tuple)
print (my_tuple[0])
print (my_tuple[1:3])
print (my_tuple[2:])
print (tinytuple * 2)
print (my_tuple + tinytuple)

('abc', 1234, 2.355, 'Cup')
abc
(1234, 2.355)
(2.355, 'Cup')
('good', 888, 'good', 888)
('abc', 1234, 2.355, 'Cup', 'good', 888)

In [58]:
my_tuple[0] = 'cde' #TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [59]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [60]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [61]:
print(tuple([4, 0, 2]))
tup = tuple('abc')
tup

(4, 0, 2)

('a', 'b', 'c')

In [62]:
'a' in ['a', 'b', 'c']

True

In [63]:
'a' in ('a', 'b', 'c')

True

In [64]:
tup[0]

'a'

In [66]:
tup = tuple(['foo', [1, 2], True])
tup[1] = False

TypeError: 'tuple' object does not support item assignment

In [67]:
tup # conceptually, tup = (address1, address2, address3)

('foo', [1, 2], True)

In [296]:
tup[1] = False #change address2 to address of value "False"

TypeError: 'tuple' object does not support item assignment

In [69]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [70]:
x={}
x[0]=0
x

{0: 0}

In [71]:
tup=('foo', (1, 2), True)
tup

('foo', (1, 2), True)

In [72]:
('foo', [1, 2], True)
('foo', [1, 2, 3], True)
('foo', [1, 2, 3, 4], True)

('foo', [1, 2, 3, 4], True)

In [73]:
x[tup]=1

In [74]:
x

{0: 0, ('foo', (1, 2), True): 1}

In [75]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [76]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [77]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [78]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [79]:
tmp = a
a = b
b = tmp

In [80]:
a, b = 1, 2
print(a,b)
b, a = a, b
print(a, b)

1 2
2 1

In [81]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [82]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [83]:
list_values=[1,2,3]
head, *list_values=list_values

In [84]:
head

1

In [85]:
list_values

[2, 3]

In [86]:
def myprod(values):
    if len(values)==1:
        return values[0]
    head, *values=values
    print(head, values)
    return head*myprod(values)

In [87]:
myprod(list(range(1,6)))

1 [2, 3, 4, 5]
2 [3, 4, 5]
3 [4, 5]
4 [5]

120

In [88]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [89]:
2*3*4*5

120

In [90]:
head, *rest, tail=values
tail

5

In [91]:
rest

[2, 3, 4]

In [92]:
head, *_, tail = values
print(head, tail)

1 5

In [93]:
a, b, *_ = values
print(a, b)

1 2

#### Tuple methods

In [94]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)
a.index(4)

5

# List
* List is the most used data structure in Python. It is the building block for other more complex data structure such as Matrix, DataFrame, etc.
* List may contain different types or even nested lists.
* [], with elements seperated by comma
* same slicing rules as string and tuple

* index starts with 0
* -1 is the end
* \+ and *

In [95]:
a_list = [2, 3, 7, None, "test"]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [96]:
range(10000)

range(0, 10000)

In [97]:
gen = range(10)
print(gen)
# list(gen)
for i in gen:
    print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [98]:
mylist=['a', 'b', 'c']
for i in range(len(mylist)):
    print(mylist[i])

a
b
c

In [99]:
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [100]:
for i, value in enumerate(mylist):
    print(i, value)

0 a
1 b
2 c

In [101]:
mylist = ['David', 1, 2, 'Jack', 3.14]
tinylist = [4, 'Chris']
#print(list)
#print(list[0])
print(mylist[1:3])
print(mylist[2:])
print(mylist[2:-1])
print(tinylist * 2)
print(mylist + tinylist)
print("===================")
# enumerate(list), add index to element to make a pair (index, value)
for index, value in enumerate(mylist):
    print(index, value)

count = 0
for value in mylist:
    print(count, value)
    count += 1

mylist.extend(tinylist)
print(mylist)

[1, 2]
[2, 'Jack', 3.14]
[2, 'Jack']
[4, 'Chris', 4, 'Chris']
['David', 1, 2, 'Jack', 3.14, 4, 'Chris']
===================
0 David
1 1
2 2
3 Jack
4 3.14
0 David
1 1
2 2
3 Jack
4 3.14
['David', 1, 2, 'Jack', 3.14, 4, 'Chris']

In [102]:
list(enumerate(mylist))

[(0, 'David'), (1, 1), (2, 2), (3, 'Jack'), (4, 3.14), (5, 4), (6, 'Chris')]

In [103]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

#### append (without flatten) vs extend (flatten then append)

In [105]:
add_member = 'add'
mylist.append(add_member)
print(mylist)

['David', 1, 2, 'Jack', 3.14, 4, 'Chris', 'add', 'add']

In [106]:
mylist.append([1,23])
print(mylist)

['David', 1, 2, 'Jack', 3.14, 4, 'Chris', 'add', 'add', [1, 23]]

In [107]:
mylist.extend([1,23])
print(mylist)

['David', 1, 2, 'Jack', 3.14, 4, 'Chris', 'add', 'add', [1, 23], 1, 23]

#### unlike string, the list is mutable

In [124]:
b_list.append('dwarf')
b_list

['red', 'baz', 'dwarf', 'foo', 'dwarf']

In [125]:
b_list.insert(1, 'red')
b_list

['red', 'red', 'baz', 'dwarf', 'foo', 'dwarf']

In [126]:
b_list.pop(2)
b_list

['red', 'red', 'dwarf', 'foo', 'dwarf']

In [127]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'red', 'dwarf', 'dwarf', 'foo']

In [128]:
'dwarf' in b_list

True

In [129]:
'dwarf' not in b_list

False

In [130]:
numberlist = [1, 2, 3, 4, 5, 6]
print(numberlist)

[1, 2, 3, 4, 5, 6]

In [131]:
numberlist[0] = 9
print(numberlist)

[9, 2, 3, 4, 5, 6]

In [132]:
numberlist[2: 5] = [13, 14, 15]
print(numberlist)

[9, 2, 13, 14, 15, 6]

In [133]:
numberlist[2:5] = []
print(numberlist)

[9, 2, 6]

In [134]:
numberlist.extend([9,9,9])
print(numberlist)

[9, 2, 6, 9, 9, 9]

In [135]:
# remove the first occurance
numberlist.remove(9)
print('after remove 9', numberlist)

after remove 9 [2, 6, 9, 9, 9]

In [136]:
# numberlist.remove(100)
# remove by index
popvalue = numberlist.pop(0)
print("popped value: ", popvalue)
print("after pop 0: ", numberlist)

popped value:  2
after pop 0:  [6, 9, 9, 9]

In [137]:
mylist = [1,2]
yourlist = [3,4]
print(mylist  + yourlist)
print(mylist)
print(yourlist)

[1, 2, 3, 4]
[1, 2]
[3, 4]

In [138]:
mylist.extend(yourlist)
print(mylist)
print(yourlist)

[1, 2, 3, 4]
[3, 4]

help(list) to show all built-in functions

In [139]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

#### sort, sorted, reversed list

In [140]:
[1,2,3,4,5,6,7,8,9][::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [141]:
[1,2,3,4,5,6,7,8,9][::2]

[1, 3, 5, 7, 9]

In [142]:
list(range(10))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [143]:
text_list = ['Apple', 'an', 'is', 'This']
for i in range(0, len(text_list))[::-1]:
    print(i, end=' ')
    print(text_list[i])

3 This
2 is
1 an
0 Apple

In [144]:
text_list[::-1]

['This', 'is', 'an', 'Apple']

In [145]:
list(reversed(text_list))

['This', 'is', 'an', 'Apple']

In [146]:
list(reversed(text_list))

['This', 'is', 'an', 'Apple']

In [147]:
print(list(reversed(text_list)))

['This', 'is', 'an', 'Apple']

In [148]:
a = [7, 2, 5, 1, 3]
list(reversed(sorted(a)))

[7, 5, 3, 2, 1]

In [149]:
a

[7, 2, 5, 1, 3]

In [150]:
for i in sorted(a):
    print(i)

1
2
3
5
7

In [151]:
a.sort()
a

[1, 2, 3, 5, 7]

In [152]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

In [153]:
a = [7, 2, 5, 1, 3]
sorted(a)

[1, 2, 3, 5, 7]

#### zip

In [154]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [1, 2, 3]
x=list(zip(seq1, seq2, seq3))
x

[('foo', 'one', 1), ('bar', 'two', 2), ('baz', 'three', 3)]

In [155]:
list(zip(*x))

[('foo', 'bar', 'baz'), ('one', 'two', 'three'), (1, 2, 3)]

In [ ]:
dict(zip(seq1, seq2))

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [156]:
zipped=zip(seq1, seq2)

In [157]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [158]:
list(zipped)

[]

In [159]:
dict([('foo', 'one'), ('bar', 'two'), ('baz', 'three')])

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [160]:
# zipped
print(list(zipped))
print(dict(zipped))

[]
{}

In [161]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) #take the shortest

[('foo', 'one', False), ('bar', 'two', True)]

In [162]:
seq1

['foo', 'bar', 'baz']

In [163]:
seq2

['one', 'two', 'three']

In [164]:
for i in zip(seq1, seq2): print(i)

('foo', 'one')
('bar', 'two')
('baz', 'three')

In [165]:
for i, (a, b) in enumerate(zip(seq1, seq2)): print(i)

0
1
2

In [166]:
list(zip(seq1, seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [167]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [168]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [169]:
list(zip(*pitchers))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

#### Binary search and maintaining a sorted list

In [170]:
import bisect
c = [1, 2,2, 2, 3, 4, 7] #it should be sorted first.
print(c)
print(bisect.bisect(c, 0))
print(c)
print(bisect.bisect(c, 1))
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
bisect.insort(c, 6)
print(c)

[1, 2, 2, 2, 3, 4, 7]
0
[1, 2, 2, 2, 3, 4, 7]
1
4
6
[1, 2, 2, 2, 3, 4, 6, 7]

In [171]:
for i in range(9):
    print(i)

# list comprehension
print([i for i in range(9) if i % 2 == 1])

0
1
2
3
4
5
6
7
8
[1, 3, 5, 7]

### use list to write a function to convert a multi-line input string into a table
`Symbol	Name	Last Price	Change	% Change	Volume
^GSPC	S&P 500	2,918.65	-19.44	-0.66%	1.889B
^DJI	Dow 30	26,287.44	-90.75	-0.34%	241.934M
^IXIC	Nasdaq	7,959.14	-80.02	-1.00%	2.003B`

In [177]:
inputstring="""
Symbol
Name
Last Price
Change
% Change
Volume
^GSPC
S&P 500
2,918.65
-19.44
-0.66%
1.889B
^DJI
Dow 30
26,287.44
-90.75
-0.34%
241.934M
^IXIC
Nasdaq
7,959.14
-80.02
-1.00%
2.003B
"""

for k, v in enumerate(inputstring.strip().split("\n")):
    print(v, end="\t")
    if k % 6 == 5:
        print()

Symbol	Name	Last Price	Change	% Change	Volume
^GSPC	S&P 500	2,918.65	-19.44	-0.66%	1.889B
^DJI	Dow 30	26,287.44	-90.75	-0.34%	241.934M
^IXIC	Nasdaq	7,959.14	-80.02	-1.00%	2.003B

In [178]:
list(enumerate(inputstring.strip().split('\n')))

[(0, 'Symbol'),
 (1, 'Name'),
 (2, 'Last Price'),
 (3, 'Change'),
 (4, '% Change'),
 (5, 'Volume'),
 (6, '^GSPC'),
 (7, 'S&P 500'),
 (8, '2,918.65'),
 (9, '-19.44'),
 (10, '-0.66%'),
 (11, '1.889B'),
 (12, '^DJI'),
 (13, 'Dow 30'),
 (14, '26,287.44'),
 (15, '-90.75'),
 (16, '-0.34%'),
 (17, '241.934M'),
 (18, '^IXIC'),
 (19, 'Nasdaq'),
 (20, '7,959.14'),
 (21, '-80.02'),
 (22, '-1.00%'),
 (23, '2.003B')]

In [179]:
my_list = [[1,2,3], [4,5,6], [7,8,9]]
import pandas as pd
my_table = pd.DataFrame(my_list) #We will go details later.
my_table

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

## string, list, tuple are all sequence

# Set
* unordered, unique
* tell "is in" or "de-duplicate"
* { } or set(), however, to create an empty set, use set() instead of { }, because { } is an empty dict
* Syntax: parame = {value1, value2, ... } or set(value)

In [180]:
set('abracadabra')

{'a', 'b', 'c', 'd', 'r'}

In [181]:
5^6

3

In [182]:
team = {'Tom', 'Jim', 'Mary', 'Tom', 'Kate', 'Rose'}
print(team) #no duplicate
# is in
if 'Rose' in team:
    print('Rose is in the team')
else :
    print('Rose is not in the team')

# set operations
a = set('abracadabra') #because string is a special type of tuple
b = set('alacazam')

print('a is: ', a)
print('b is: ', b)
print(a - b)     # diff
print(a | b)     # union
print(a & b)     # intersection
print(a ^ b)     # XOR

{'Rose', 'Kate', 'Tom', 'Mary', 'Jim'}
Rose is in the team
a is:  {'c', 'd', 'a', 'b', 'r'}
b is:  {'c', 'z', 'a', 'm', 'l'}
{'d', 'r', 'b'}
{'c', 'd', 'z', 'a', 'm', 'b', 'l', 'r'}
{'a', 'c'}
{'l', 'r', 'b', 'z', 'm', 'd'}

#### how to remove duplicates and sort

In [183]:
mylist = [10, 9, 9, 12, 3, 5, 45, 7, 8]
# print(set(mylist))
sorted_list = sorted(list(set(mylist)))
print(sorted_list)

[3, 5, 7, 8, 9, 10, 12, 45]

# Dictionary
* List is ordered collection of objects, while dictionary is unordered collection of objects. (Now Python has OrderedDict)
* Unlike list, dictionary accesses element by key, instead of index.
* Dictionary is a mapping relationship between key and value.
* Key must be immutable, such as string, int, float, so that the key is hashable.
* No duplicate key in one dictionary
* Dictionary can be nested, such as in json.

In [184]:
dictsample = {}
dictsample['fund1'] = 'S&P 500'
dictsample[2] = 'Safe Bond'
dictsample[2.5] = 'Safe Bond'
print(dictsample)

tinydict = {'name': 'Training',
            'code': [1,5,'6'],
            'purpose': "Base data type"}
print (dictsample['fund1'],
       '1',
       2)
print (dictsample[2])
print (tinydict)
print (tinydict.keys())
print (tinydict.values())

{'fund1': 'S&P 500', 2: 'Safe Bond', 2.5: 'Safe Bond'}
S&P 500 1 2
Safe Bond
{'name': 'Training', 'code': [1, 5, '6'], 'purpose': 'Base data type'}
dict_keys(['name', 'code', 'purpose'])
dict_values(['Training', [1, 5, '6'], 'Base data type'])

In [185]:
if 'Name' in tinydict:
    print(tinydict['Name'])
else:
    print(None)

None

In [186]:
# If you are curious, defaultdict is doing the same thing as below to handle missing keys
if tinydict.get('id', None) is None:
    tinydict['id'] = ['1']
else:
     tinydict['id'].append('2')
print(tinydict)

{'name': 'Training', 'code': [1, 5, '6'], 'purpose': 'Base data type', 'id': ['1']}

In [187]:
mydict = {}
# mydict['fund']
for i in range(10):
    if mydict.get('fund', None) is None:
        mydict['fund'] = ['f{0}'.format(i + 1)]
    else:
        mydict['fund'].append('f{0}'.format(i + 1))
print(mydict['fund'])
print(mydict)
for key, value in mydict.items():
    print('key is :{0}, value is {1}'.format(key, value))
# list.append adds one element
# list.extend adds a list

['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']
{'fund': ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']}
key is :fund, value is ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10']

In [188]:
for key in dictsample.keys():
    print(dictsample[key])

S&P 500
Safe Bond
Safe Bond

In [189]:
print(type(dictsample.values()))
for value in dictsample.values():
    print(value)

<class 'dict_values'>
S&P 500
Safe Bond
Safe Bond

In [190]:
for key, value in dictsample.items():
    print(key, ': ', value)

fund1 :  S&P 500
2 :  Safe Bond
2.5 :  Safe Bond

#### Different ways to use dict()

In [191]:
[x**2 for x in (2, 4, 6)]

[4, 16, 36]

In [192]:
{x:x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [193]:
# for x in (2, 4, 6):
#     print(x, end=" ")
# print()
# print(x)
mydict = {x: x**2 for x in (2, 4, 6)}
print(mydict)

newdict = dict(Apple=1, Orange=2, Banana=3)
print(newdict)

constructdict = dict([('Apple', 1), ('Orange', 2), ('Banana', 3)])
print(constructdict)

{2: 4, 4: 16, 6: 36}
{'Apple': 1, 'Orange': 2, 'Banana': 3}
{'Apple': 1, 'Orange': 2, 'Banana': 3}

In [194]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

#### Sort dict

In [195]:
my_dict = {'2_fund': 'F1', '0_value': 5, '1_share': 'F2'}
# sort by key
print(sorted(my_dict.items(),key=lambda x: str(x[0])))
print(dict(sorted(my_dict.items(),key=lambda x: str(x[0]))))
# sort by value
print(sorted(my_dict.items(),key=lambda x: str(x[1])))
# create another dict from the sorted items
print(dict(sorted(my_dict.items(),key=lambda x: str(x[1]))))

[('0_value', 5), ('1_share', 'F2'), ('2_fund', 'F1')]
{'0_value': 5, '1_share': 'F2', '2_fund': 'F1'}
[('0_value', 5), ('2_fund', 'F1'), ('1_share', 'F2')]
{'0_value': 5, '2_fund': 'F1', '1_share': 'F2'}

In [196]:
from IPython.display import display

my_list_contain_dict = [{'fund': 'a', 'share': 100},{'fund': 'b', 'share': 200}]
print(my_list_contain_dict)
import pandas as pd
my_table = pd.DataFrame(my_list_contain_dict)
my_table
display(my_table)
for index, row in my_table.iterrows():
    print(index, row)

[{'fund': 'a', 'share': 100}, {'fund': 'b', 'share': 200}]

  fund  share
0    a    100
1    b    200

0 fund       a
share    100
Name: 0, dtype: object
1 fund       b
share    200
Name: 1, dtype: object

#### Creating dicts from sequences

In [198]:
key_list = ['name', 'age', 'city', 'country']
value_list = ['John', 25, 'NYC', 'USA']

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [199]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [202]:
some_dict = {'apple': 5, 'banana': 3, 'orange': 8}
key = 'grape'
default_value = 0

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [203]:
value = some_dict.get(key, default_value)

In [204]:
x={1:2, 3:4}
x.get(6, 0)

0

In [205]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### List, Set, and Dict Comprehensions

In [206]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

* dict_comp = { xx:yy}

* set_comp = { xx, yy}

In [207]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [208]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [209]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [210]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [211]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [212]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [213]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [214]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [215]:
[[x for x in tup if x>5] for tup in some_tuples]

[[], [6], [7, 8, 9]]

## Functions

In [216]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [217]:
def func2(x):
    if isinstance(x, int):
        if x>0:
            return True
        elif x==0:
            return "abc"
        else:
            return 1,2,3
    elif isinstance(x, str):
        return "Great"

In [218]:
func2('abc')

'Great'

In [219]:
isinstance(True, int)

True

In [220]:
print(my_function(5, 6, z=0.7))
print(my_function(3.14, 7, 3.5))
print(my_function(10, 20))

0.06363636363636363
35.49
45.0

### Namespaces, Scope, and Local Functions

In [221]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [222]:
a = []
def func():
#     global a
#     a=[]
    for i in range(5):
        a.append(i)
func()
a

[0, 1, 2, 3, 4]

* Variable is global unless is assigned by value. If you want to keep it global, you have to declare it.

In [223]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values

In [224]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [225]:
return_value = f()
return_value

(5, 6, 7)

In [226]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [227]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [228]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [229]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [230]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [231]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [232]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [233]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [234]:
equiv_anon(2)

4

In [235]:
(lambda x: x * 2) (4)

8

In [236]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [237]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [238]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [239]:
def add_numbers(x, y):
    return x + y
add_numbers(1,2)

3

In [240]:
add_five = lambda y: add_numbers(5, y)
add_five(1)

6

In [241]:
from functools import partial
add_five = partial(add_numbers, 5)

In [242]:
partial(add_numbers, 5)

functools.partial(<function add_numbers at 0x7b13c8b56c00>, 5)

In [243]:
add_five(1)

6

### Generators

In [244]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [245]:
dict_iterator = iter(some_dict)
dict_iterator

In [246]:
list(dict_iterator)

['a', 'b', 'c']

In [247]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [248]:
gen = squares()
gen

In [249]:
list(gen)

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [250]:
list(gen)

[]

In [251]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [252]:
gen = (x ** 2 for x in range(100))
gen

In [253]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [254]:
gen

In [255]:
list(gen)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [256]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [257]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [258]:
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
list(itertools.groupby(names, first_letter))

[('A', <itertools._grouper at 0x7b13c8b5e770>),
 ('W', <itertools._grouper at 0x7b13c8b5fd00>),
 ('A', <itertools._grouper at 0x7b13c8b5eb60>),
 ('S', <itertools._grouper at 0x7b13c8b5e8f0>)]

### Errors and Exception Handling

In [259]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [260]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [261]:
attempt_float('1.2345')

1.2345

In [262]:
attempt_float('something')

'something'

In [263]:
attempt_float((1,2))

(1, 2)

In [264]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [265]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [266]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [267]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [271]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'write_to_file' is not defined

In [272]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Failed

## Files and the Operating System

In [273]:
path = './array_ex.txt'
f = open(path)

In [274]:
for line in f:
    print(line)

In [275]:
lines = [list(map(float, x.rstrip().split(','))) for x in open(path)]
lines

[]

In [276]:
f.close()

In [277]:
with open(path) as f:
    lines = [x.rstrip() for x in f]
    print(lines)

[]

In [278]:
path = './array_ex.txt'
f = open(path)
print(f.read(10))
f.close()

In [279]:
path = './array_ex.txt'
f2 = open(path, 'rb')  # Binary mode
print(f2.read(10))
f2.close()

b''

In [280]:
f.close()
f2.close()

In [281]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

[]

In [282]:
import os
os.remove('tmp.txt')

### Lab exercise of today


1. Write a python function to compute the sum of 1, 2, 3, ... to x by a given integer x. I expect recursion and tail recursion.

2. The Fibonacci sequence 1, 1, 2, 3, 5, 8, 13, 21…… starts with two 1s, and each term afterwards is the sum of its two predecessors. Please write a function, Fib(n), which takes n as the input parameter. It will return the n-th number in the Fibonacci sequence.

In [283]:
def rec_sum(x, total=0):
    if x == 0:
        return total
    else:
        return rec_sum(x-1, total+x)

# x=5
# return rec_sum(4, total+5)
# return rec_sum(3, total+4)

In [284]:
rec_sum(100)

5050

In [285]:
def fib(n):
    if n < 0:
        print('Error')
    elif n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [286]:
fib(8)

21

### Homework

#### Problem 1. Write a function squareRoot(x) to compute the square root of the positive number by newton-raphson method.

Calculators and computers use Newton's Method to compute square roots. We'll see how to compute $\sqrt{2}$

Finding the square root of 2 is the same thing as solving $x^2 - 2 = 0$. So we set $f(x)=x^2-2$, $f'(x)=2x$, and apply the recursive formula

$\large x_{n+1} = x_n - \frac{f(x_n)}{f'(x_n)} = x_n -
      \frac{x_n^2-2}{2x_n}$


It only takes a few steps to get 10 or 20 decimal places.

![image.png](attachment:image.png)

In [293]:
def squareRoot(x):
    if x == 0:
        return 0

    guess = x / 2  # starting guess

    for i in range(20):  # max iterations
        new_guess = (guess + x / guess) / 2

        # check if close enough
        if abs(new_guess - guess) < 0.0000001:
            return new_guess

        guess = new_guess

    return guess

#### Problem 2. Write a function myPi(n) to compute pi by Gregory series.

![image.png](attachment:image.png)
http://mathworld.wolfram.com/PiFormulas.html

In [294]:
def myPi(n):
    total = 0

    for k in range(1, n+1):
        # denominator: 1, 3, 5, 7, 9, ...
        denominator = 2*k - 1

        # alternating signs
        if k % 2 == 1:  # odd k = positive
            total += 1/denominator
        else:  # even k = negative
            total -= 1/denominator

    return 4 * total

#### Problem 3. Filtering Prime Numbers: write Python code to return a list of prime numbers within range from 0 to 1000

https://www.youtube.com/watch?v=ej_HfaFsBgY&ab_channel=Examrace

The sieve works by marking the composite numbers- filtering them out. What is left on top are the prime numbers.
Steps:
* A prime number has only two factors: 1 and itself. A composite number has more than two factors. The number 1 is neither prime nor composite – because it has only one factor (1)- so we remove 1
* Now we move on to number 2.  We know that any of the multiples of 2 except 2 cannot be prime- because one of their factors is 2 (in addition to 1 and itself). So we move through multiples of 2 and mark them as composites.
* Now we move to number 3- If 3 was a factor of any of the numbers seen so far- it would have been cancelled. But it is not so the only factors of 3 are 3 and 1- and hence it is prime. Therefore if we reach any number and it has not been cancelled it has to be prime. So we mark three as prime. We move through 3 and cancel all its multiples as they cannot be prime.
* Lets look at number 4. It has been marked as composite because it had 2 as factor. But what about its multiples? We don’t have to consider its multiples because they would have been cancelled already as they would have been multiples of factors of 4.
* Now we look at 5. Since it has not been cancelled we mark it prime and then mark all its multiples as composites.
* We only need to do this process till sqrt(1000). Why?

In [295]:
def sieve_primes():
    is_prime = [True] * 1001
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime

    for i in range(2, int(1000**0.5) + 1):
        if is_prime[i]:
            for j in range(i*i, 1001, i):
                is_prime[j] = False

    primes = []
    for i in range(2, 1001):
        if is_prime[i]:
            primes.append(i)

    return primes